@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to left,
    #141414,
    #1b1b1b,
    #222222,
    #292929,
    #303030
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  .title {
    font-size: calc(10px + 2vmin);
    margin-bottom: 20px;
    color: #fff;
  }

  .box {
    display: flex;
    border-radius: 8px;
    position: relative;
    /*box-shadow: rgba(88, 231, 243, 0.4) -5px 5px,
      rgba(88, 231, 243, 0.3) -10px 10px, rgba(88, 231, 243, 0.2) -15px 15px,
      rgba(88, 231, 243, 0.1) -20px 20px, rgba(88, 231, 243, 0.05) -25px 25px;*/
    .form_container {
      border-radius: 8px 0 0 8px;
      background-color: #f5f5f5;
      padding: 20px;
      .form_container_title {
        font-size: calc(20px);
        margin-bottom: 20px;
      }
      form {
        font-size: calc(10px + 0.5vmin);
      }
    }
    .right_site_container {
      background-color: #f5b700;
      border-radius: 0 8px 8px 0;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .quote_container {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 20px;
      }
    }
  }
}
